.phb {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    line-height: 1;
    color: black;
}

.phb h1 {
    border-bottom-width: 0px;
}

.phb p, .phb blockquote,
.phb h1, .phb h2, .phb h3, .phb h4, .phb h5, .phb h6 {
    margin: 0;
}

.phb th {
    padding: 0;
}

.phb table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: baseline;
    line-height: 1;
}

.phb:not(:last-child) {
    margin-bottom: 30px;
}

.phb div.classTable tr {
    padding: 0;
}